<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

<script src="{{ '/assets/js/code-lang-labels.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/arduino-highlight.js' | relative_url }}"></script>


<link rel="stylesheet" href="{{ '/assets/css/nav.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/layout.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/theme.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/callouts.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/tables.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/search.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/toc.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/darkmode.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/code.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/image.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/copy-btn.css' | relative_url }}">



<script src="{{ '/assets/js/copy-button-ui.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/copy-code.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/image-lightbox.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/back-to-top.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/dark-mode.js' | relative_url }}"></script>
<script src="{{ '/assets/js/mobile-nav.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/page-toc.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/last-updated.js' | relative_url }}" defer></script>


<link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">
