<script src="{{ '/assets/js/code-lang-labels.js' | relative_url }}" defer></script>

<link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/nav.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/layout.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/theme.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/code.css' | relative_url }}">

<link rel="stylesheet" href="{{ '/assets/css/nav-indent.css' | relative_url }}">

<!--<script src="{{ '/assets/js/copy-code.js' | relative_url }}" defer></script>
-->


<link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">
